@inherits LayoutComponentBase

<PageTitle>ExampleApp</PageTitle>

<div class="h-full page">
    <div class="">
        <NavMenu/>
    </div>
    <main class="p-4">
        <article class="px-4">
            @Body
        </article>
    </main>
</div>
